openapi: 3.1.0
info:
  title: CMS Blue Button 2.0 Capability Patient API
  description: Blue Button 2.0 is a standards-based HL7 FHIR R4 API that delivers Medicare Part A, B, and D claims data for over 60 million beneficiaries to registered third-party applications. Beneficiaries authorize sharing via OAuth 2.0. Blue Button 2.0 anchors CMS's Patient Access API program under the 21st Century Cures Act.
  version: v2
  contact:
    name: CMS Blue Button Developer Support
    url: https://bluebutton.cms.gov/developers/
  termsOfService: https://bluebutton.cms.gov/terms/
servers:
- url: https://api.bluebutton.cms.gov/v2/fhir
  description: Blue Button 2.0 production FHIR server
- url: https://sandbox.bluebutton.cms.gov/v2/fhir
  description: Blue Button 2.0 sandbox FHIR server
security:
- oauth2: []
tags:
- name: Patient
  description: Beneficiary (Patient) resources.
paths:
  /Patient:
    get:
      operationId: searchPatient
      summary: Search Patient
      description: Returns the authenticated Medicare beneficiary as a FHIR Patient resource.
      tags:
      - Patient
      responses:
        '200':
          description: A FHIR Bundle of Patient resources.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIRBundle'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /Patient/{id}:
    get:
      operationId: readPatient
      summary: Read Patient
      description: Returns a single Patient resource by ID.
      tags:
      - Patient
      parameters:
      - name: id
        in: path
        required: true
        description: FHIR Patient resource ID.
        schema:
          type: string
      responses:
        '200':
          description: A FHIR Patient resource.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIRResource'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    FHIRBundle:
      type: object
      description: A FHIR R4 Bundle resource wrapping a collection of resources.
      properties:
        resourceType:
          type: string
          const: Bundle
        type:
          type: string
        total:
          type: integer
        entry:
          type: array
          items:
            type: object
            additionalProperties: true
      additionalProperties: true
    FHIRResource:
      type: object
      description: A generic FHIR R4 resource.
      properties:
        resourceType:
          type: string
        id:
          type: string
      additionalProperties: true
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/fhir+json:
          schema:
            $ref: '#/components/schemas/FHIRResource'
    Unauthorized:
      description: Authentication credentials are missing or invalid.
      content:
        application/fhir+json:
          schema:
            $ref: '#/components/schemas/FHIRResource'
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization code flow used by Medicare beneficiaries to grant access to a third-party application.
      flows:
        authorizationCode:
          authorizationUrl: https://api.bluebutton.cms.gov/v2/o/authorize/
          tokenUrl: https://api.bluebutton.cms.gov/v2/o/token/
          scopes:
            patient/Patient.read: Read beneficiary Patient resource.
            patient/Coverage.read: Read beneficiary Coverage resources.
            patient/ExplanationOfBenefit.read: Read beneficiary claims.
externalDocs:
  description: CMS Blue Button 2.0 API Documentation
  url: https://bluebutton.cms.gov/api-documentation/
x-generated-from: https://bluebutton.cms.gov/api-documentation/
x-generated-by: claude-crawl-2026-05-08
